* {
    margin: 0;
    padding: 0;
}

.Davinci-tittle {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}

.Davinci-img {
    display: flex;
    margin-right: 100px;
}

.Leonardo-text p {
    float: right;
    margin-left: 10px;
}